.card-deck{
  .icons i,.card-footer i{
    width: 26px;
    height: 29px;
    color: #13BEFF ;
    }
    .card-title{
    font-size: 20px;
    font-weight: 600;
    }
    .bg-dark{
      background-color: #74747433!important;
    }

}

