<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="text-white mr-5" type="button">
        <i class="fa fa-bars"></i>
    </div>
        <div class="navbar-translate">
            <a [routerLink]="['/home']"><img src="../../../assets/img/logo/Link_logo_vertical_color_Light_RGB.png" alt=""></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                      <i class="fa fa-search"></i>
                        <!-- <p class="d-lg-none">Twitter</p> -->
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                      <i class="fa fa-bell"></i>
                        <!-- <p class="d-lg-none">Facebook</p> -->
                    </a>
                </li>
                <li class="nav-item">
                  <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="fa fa-user-circle"></i>User Name</a>

              </li>
                <!-- <li class="nav-item" *ngIf="!isDocumentation()"> -->
                  <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
                    <!-- The user image in the navbar-->
                    <!-- <img src="https://vignette3.wikia.nocookie.net/nation/images/6/61/Emblem_person_blue.png/revision/latest?cb=20120218131529" class="user-image" alt="User Image"> -->
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <!-- <span class="hidden-xs">John Abia</span> -->
                  <!-- </a> -->
                  <!-- </li> -->

                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="fa fa-user-circle"></i>User Name</a>

                </li>
                <li class="nav-item" *ngIf="isHome()">
                  <a class="nav-link" rel="tooltip"  data-placement="bottom" target="_blank">
                    <i class="fa fa-cog"></i>
                      <!-- <p class="d-lg-none">GitHub</p> -->
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

