<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0 text-left">
          <li>
            <a href="#!" class="text-dark">News</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Events</a>
          </li>
          <li>
            <a href="#!" class="text-dark">About</a>
          </li>
          <li>
            <a href="#!" class="text-dark">FAQs</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled text-left">
          <li>
            <a href="#!" class="text-dark">Privacy Policy</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Contact Us</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Complains</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

        <ul class="list-unstyled mb-0 text-left">
          <li>
            <p class="text-dark text-left">Subscribe to NewsLetters</p>
          </li>
          <li>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email Address" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled mb-0 social-icons">
          <li class="text-dark">Follow Us on</li>
          <li>
            <a href="" class="me-4 text-dark">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="" class="me-4 text-dark">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-dark">
              <img src="../../../assets/img/icons/youtube.svg" alt="">
            </a>
            <a href="" class="me-4 text-dark">
              <img src="../../../assets/img/icons/instgram.svg" alt="">
            </a>
            <a href="" class="me-4 text-dark">
              <img src="../../../assets/img/icons/linkedin.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #0F3294">
    <a class="text-white" href="https://mdbootstrap.com/">All right reserved-Link Development Company © 2020</a>

  </div>
  <!-- Copyright -->
</footer>
